body {
font-family: Arial, sans-serif;
background: linear-gradient(to right, #8fe4ee, #8fe4ee);
text-align: center;
padding: 20px;
}

h1 {
color: rgb(2, 0, 0);
font-size: 2.5em;
}

p {
color: #2c3e50;
}

select, textarea, input {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;

    background-color: #bdefff; /* 👈 AQUÍ CAMBIAS EL COLOR */
    color: #2c3e50;
}

button {
background-color: #69cee2;
color: rgb(0, 0, 0);
border: none;
padding: 10px 15px;
margin: 5px;
border-radius: 10px;
cursor: pointer;
transition: 0.3s;
}

button:hover {
background-color: #69cee2;
}

#tips, #listaComentarios {
background: #bdefff;
padding: 15px;
border-radius: 15px;
width: 80%;
margin: 15px auto;
}
.card {
background:#bdefff;
margin: 10px auto;
padding: 15px;
border-radius: 15px;
width: 80%;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.emociones button {
margin: 5px;
padding: 10px;
border: none;
border-radius: 10px;
color: rgb(0, 0, 0);
cursor: pointer;
}

/* Ansiedad */
.ansiedad {
background-color: #9834db;
}

/* Tristeza */
.tristeza {
background-color: #73c9f1;
}

/* Estrés */
.estres {
background-color: #ea7a18;
}

/* Bienestar */
.bienestar {
background-color: #199728;
}
.emociones button:hover{
opacity:0.8;
}
#infoEmocion {
margin: 15px auto;
padding: 15px;
border-radius: 15px;
width: 80%;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
display: none;
}
.info-ansiedad {
background: linear-gradient(to right, #9834db, #9834db);
color: rgb(0, 0, 0);
}

.info-tristeza {
background: linear-gradient(to right, #73c9f1, #73c9f1);
color: rgb(0, 0, 0);
}

.info-estres {
background: linear-gradient(to right, #ea7a18, #ea7a18);
color: rgb(0, 0, 0);
}

.info-bienestar {
background: linear-gradient(to right, #199728, #199728);
color: rgb(0, 0, 0);
}
#contenidoPrincipal {
display: none;
}
body {
background-image: url("fondo.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
.barra {
    background-color: transparent;
    display: flex;
    flex-direction: column;   /* 👈 esto es clave */
    align-items: center;      /* 👈 centra horizontal */
    justify-content: center;  /* 👈 centra vertical */
    text-align: center;
    padding: 20px;
}

.logo {
width: 180px; /* tamaño del logo */
height: auto;
}

@media (max-width: 600px) {
#pantallaInicio {
justify-content: flex-start;
align-items: center;
padding-top: 60px;
}

.logoInicio {  
    width: 200px;  
}  

#pantallaInicio h1 {  
    font-size: 22px;  
}  

.bienvenida {  
    font-size: 14px;  
    max-width: 90%;  
}

}

.barra h1 {
color: rgb(0, 0, 0);
font-size: 24px;
margin: 0;
}

#pantallaInicio {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;

background-image: url("fondoInicio.jpg");  
background-size: cover;  
background-position: center;  
background-repeat: no-repeat;  

display: flex;  
justify-self: center;  
align-items: center;  
gap: 80px;


text-align: center;  

padding: 20px;  
box-sizing: border-box;

}

.logoInicio {
width: 500px;
height: auto;
}

#pantallaInicio h1 {
font-size: 55px;
margin-bottom: 20px;  
}

.bienvenida {
font-size: 16px;
line-height: 1.7;
max-width: 600px;
margin-bottom: 35px;
}
.fotoPsico {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #69cee2;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
#pantallaInicio input {
    width: 250px;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
.menu {
    background-color: #69cee2;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25;
    margin-bottom: 30;
    position: static;
}

.menu button {
    background: white;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.menu button:hover {
    background: #d6f5ff;
}

.seccion {
    padding: 20px;
}
.inicioTexto {
    max-width: 600px;
}
.inicioLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicioTexto button {
    background-color: #69cee2;
    color: black;
    border: none;
    padding: 18px 60px;
    font-size: 24px;
    border-radius: 18px;
    cursor: pointer;
}
